#Домашнє завдання до теми "Цикл while"

1. **Лічильник до заданого числа.**
   Завдання:
     - Створіть цикл `while`, щоб він лічив від 1 до заданого числа в змінній `limit`.
     - Виведіть кожне число, яке проходить лічильник, на екран.
     - В кінці виведіть повідомлення "Кінець розрахунку!".

In [4]:
limit = 9  # Задане число

In [5]:
i = 1
while i <= limit:
  print(i)
  i += 1
print('Кінець розрахунку!')

1
2
3
4
5
6
7
8
9
Кінець розрахунку!

2. **Пошук першого парного числа.** Завдання:
     - Створіть цикл `while`, щоб знайти перше парне число після заданого числа `start`.
     - Знайдіть та виведіть перше парне число.

In [26]:
start = 7  # Задане число

In [27]:
if start % 2 == 0:
  num = start + 2
else:
  num = start + 1

while True:
  print(num)
  break

8


3. **Обчислення факторіалу.**   
  Факторіал числа - це добуток всіх натуральних чисел від 1 до цього числа включно. Наприклад, факторіал числа 5 (позначається як 5!) дорівнює `1 * 2 * 3 * 4 * 5 = 120`.

  Завдання:  
      - Обчисліть факторіал заданого числа, використовуючи цикл `while`.  
      - Задайте деяке число для обчислення факторіалу у змінній `num`.  
      - Виведіть обчислений факторіал на екран.

In [63]:
num = 10
start_num = 1
fact = 1
while start_num <= num:
  fact *= start_num
  start_num += 1
print(fact)

3628800