<a href="https://colab.research.google.com/github/MykolaKud/python_for_ds_tasks/blob/main/hw_3_4_apply%2C_groupby%2C_pivot_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [75]:
import pandas as pd
data_path = 'drive/MyDrive/data_csv/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [76]:
grouped_branch = df.groupby('Branch')

In [77]:
grouped_branch['gross income'].sum()

Branch
A    5057.1605
B    5057.0320
C    5265.1765
Name: gross income, dtype: float64

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [78]:
#відсортував за максимальним значенням і вивів конкретне місто
df.sort_values(by = 'gross income', ascending = False).loc[1].City

'Naypyitaw'

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [79]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', values='Invoice ID', aggfunc='count')

In [80]:
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

In [81]:
invoices_by_category.sort_values(by ='Electronic accessories', ascending = False)['Electronic accessories'][:1]

Branch
A    60
Name: Electronic accessories, dtype: int64

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

4. Перевіримо в яких містах який тип покупців приносить більше прибутку

*Виявляємо якого типу покупців більше по містах*

In [82]:
customer_type_quantity = pd.pivot_table(df, index='Customer type', columns='City', values='Invoice ID', aggfunc='count')

In [83]:
customer_type_quantity

City           Mandalay  Naypyitaw  Yangon
Customer type
Member              165        169     167
Normal              167        159     173

In [84]:
income_customer_type= pd.pivot_table(df, index='Customer type', columns='City', values='gross income', aggfunc='sum')

In [85]:
income_customer_type

City           Mandalay  Naypyitaw     Yangon
Customer type
Member         2557.366  2708.6325  2554.1655
Normal         2499.666  2556.5440  2502.9950

*Як ми можемо бачити, що в кожному з міст тип покупця "Member" в загальному приносить більше прибутку, а отже варто спробувати заохочувати більше покупців отримувати статус "Member" в м.Naypyitaw в першу чергу, для того щоб збільшити прибуток*.

5. Перевіримо в яких категоріях товарів в м. Yangon покупці якої статі купують більше товарів

In [86]:
filter = df[df['City'] == 'Yangon']
product_line_gender_Yangon = pd.pivot_table(filter, index='Product line', columns='Gender', values='Quantity', aggfunc='sum')

In [87]:
product_line_gender_Yangon.idxmax()

Gender
Female    Home and lifestyle
Male      Food and beverages
dtype: object

*Як ми можемо побачити з результатів, в м. Yangon жінки купують більше в категорії Home and lifestyle а чоловіки в категорії Food and beverages. Для збільшення продажів можна спробувати налаштувати контекстну рекламу в Інтернеті в даному місті таким чином, щоб акційні пропозиції приходили різним статям на відповідні категорії товарів*

6. Спробуємо перевірити в які місяці який був Тотал продажів по мережі

In [88]:
#Функція переведення місяцю з числа в текст
import calendar

def Text_month_num(current_date):
  month, day, year = current_date.split('/')
  month_int = int(month)
  month_name = calendar.month_name[month_int]
  return month_name

In [89]:
#Додаємо колонку Місяць в текстовому вигляді
df['Month'] = df.Date.apply(Text_month_num)

In [90]:
#Виводимо тотал по місяцях
grouped_month = df.groupby('Month')
grouped_month.Total.sum()

Month
February     97219.374
January     116291.868
March       109455.507
Name: Total, dtype: float64

*Найбільший тотал продажів був у січні. Маючи цифри, можна застосувати заходи стимулювання збуту і подивитися на динаміку продажів в наступних місяцях*